.hotelWrapper {
  background-color: gainsboro;
  margin-bottom: 24px;
  width: 100%;
  text-align: left;

  .pictureAndInfo {
    display: flex;
    align-items: flex-start;

    img {
      flex: 1;
    }

    .wrapper {
      padding: 48px;
      flex: 1;

      .hotelData {
        flex: 1;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .location {
          background-color: white;
          padding: 4px 8px;
          border-radius: 4px;
          display: inline-block;
          font-size: 12px;
        }
      }

      .description {
        padding: 48px 0;
      }
    }
  }
}
