.header {
  display: flex;
  padding: 48px;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/banner.jpg') center center;
  background-size: cover;
  height: 300px;
}
